:root {
  --color-dark: #4e5159;
  --color-primary: #557cf2;
  --color-secondary: #f26b7a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  color: var(--color-dark);
  font-family: 'Lato', sans-serif;
}

body {
  box-sizing: border-box;
}

/* ------------------- */
/* Header */
/* ------------------- */
.header {
  display: flex;
  padding: 12vw 0;
  align-items: center;
  flex-direction: column;
}

.header__line {
  top: 0;
  width: 80vw;
  height: 1rem;
  position: absolute;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--color-primary);
}

.header__frontend {
  font-size: 5vw;
  margin: 1.5rem 0;
  font-weight: 300;
  font-style: italic;
}

.header__title {
  font-size: 5.25vw;
  font-style: italic;
}

.header__title--highlight {
  color: var(--color-primary);
}

/* ------------------- */
/* Section: Product */
/* ------------------- */
.product {
  padding: 0 8vw;
  position: relative;
}

.product__label {
  font-size: 1.3vw;
  margin-bottom: 4.75rem;
  position: relative;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.product__label:after {
  left: 0;
  content: '';
  width: 4.25rem;
  height: 5px;
  bottom: -2rem;
  border-radius: 3px;
  position: absolute;
  background-color: var(--color-secondary);
}

.product__title {
  width: 70%;
  font-size: 4.4vw;
}

.product__description {
  width: 50%;
  color: #666;
  line-height: 1.5;
  margin: 3.5rem 0;
  font-size: 1.6vw;
}

.product__ilustra {
  z-index: 2;
  width: 28vw;
  right: 10vw;
  bottom: -10vw;
  position: absolute;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  width: 4vw;
}

.icon:not(:last-of-type) {
  margin-right: 1.75rem;
}

/* ------------------- */
/* Section: Testimonial */
/* ------------------- */
.testimonial {
  width: 100vw;
  padding: 30rem 0 15rem 0;
  transform: skewY(-10deg);
  background-color: #f7faff;
}

.testimonial__label,
.testimonial__quote,
.testimonial__author,
.testimonial__screenshot {
  transform: skewY(10deg);
}

.testimonial__label {
  font-size: 1.3vw;
  text-align: center;
  margin-bottom: 4.75rem;
  position: relative;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.testimonial__label:after {
  left: 50%;
  content: '';
  height: 5px;
  bottom: -2rem;
  width: 4.25rem;
  border-radius: 3px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--color-secondary);
}

.testimonial__quote {
  width: 39%;
  color: #888;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.8vw;
  font-style: italic;
  text-align: center;
}

.testimonial__quote--highlight {
  color: var(--color-primary);
}

.testimonial__author {
  font-size: 1.5vw;
  margin-top: 1.25rem;
  text-align: center;
  font-style: italic;
}

.testimonial__screenshot {
  width: 55vw;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 10rem;
  box-shadow: 0.1rem 0.5rem 1.8rem rgba(0, 0, 0, 0.1);
}

/* ------------------- */
/* Section: grid */
/* ------------------- */
.grid {
  padding-bottom: 15vw;
}

.grid__label {
  font-size: 1.3vw;
  text-align: center;
  margin-bottom: 4.75rem;
  position: relative;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.grid__title {
  width: 60%;
  margin: 0 auto;
  font-size: 4.4vw;
  text-align: center;
}

.grid__label:after {
  left: 50%;
  content: '';
  height: 5px;
  bottom: -2rem;
  width: 4.25rem;
  border-radius: 3px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--color-secondary);
}

.grid__navigation {
  display: flex;
  justify-content: center;
}

.grid__options {
  margin: 5rem auto;
  border-radius: 2px;
  border: 0.3rem solid #f8f8f8;
}

.grid__option {
  margin: 0 3rem;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.2s;
  padding: 1.5rem 4.5rem;
  display: inline-block;
}

.grid__option:not(.grid__option--active):hover {
  color: #333;
}

.grid__option--active {
  color: var(--color-primary);
}

.grid__option--active:after {
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0.4rem;
  border-radius: 3px;
  position: absolute;
  background-color: var(--color-primary);
}

.grid__container {
  padding: 0 6rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: repeat(13, 5rem);
  grid-template-columns: repeat(4, 1fr);
}

.grid__item {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #fcd7db;
}

.grid__item--1 {
  grid-row: 1 / 6;
}

.grid__item--2 {
  grid-row: 1 / 5;
}

.grid__item--3 {
  grid-row: 1 / 6;
}

.grid__item--4 {
  grid-row: 1 / 5;
}

.grid__item--5 {
  grid-row: 6 / 10;
}

.grid__item--6 {
  grid-row: 5 / 9;
}

.grid__item--7 {
  grid-row: 6 / 10;
}

.grid__item--8 {
  grid-row: 5 / 9;
}

.grid__item--9 {
  grid-row: 10 / -1;
}

.grid__item--10 {
  grid-row: 9 / 13;
}

.grid__item--11 {
  grid-row: 10 / -1;
}

.grid__item--12 {
  grid-row: 9 / 13;
}

/* ------------------- */
/* Section: try */
/* ------------------- */
.try {
  width: 80%;
  height: 40vw;
  position: absolute;
  background-color: var(--color-primary);
}

.try__label {
  font-size: 1.3vw;
  text-align: right;
  margin-bottom: 4vw;
  position: relative;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #fff;
}

.try__label:after {
  right: 0;
  content: '';
  height: 5px;
  bottom: -1.5rem;
  width: 3rem;
  border-radius: 3px;
  position: absolute;
  background-color: #fff;
}

.try__left {
  padding: 7vw 24vw 7vw 13vw;
  background-color: var(--color-primary);
}

.try__title {
  font-size: 4.4vw;
  text-align: right;
  color: #fff;
}

.try__paragraph {
  margin-top: 2vw;
  color: #fff;
  font-size: 1.6vw;
  text-align: right;
}

.try__right {
  top: 50%;
  width: 34vw;
  height: 23vw;
  right: -15vw;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-50%);
  justify-content: space-between;

  padding: 3.5vw;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.try__input-label,
.try__input {
  display: block;
}

.try__input-label {
  font-weight: bold;
  font-size: 1.2vw;
  margin-bottom: 0.7rem;
}

.try__input {
  width: 100%;
  color: #aaa;
  font-size: 1.2vw;
  padding: 0.8vw 1vw;
  border-radius: 2px;
  border: 1.7px solid #ddd;
}

.try__input::placeholder {
  color: #aaa;
}

.try__button {
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.2s;
  text-decoration: none;
  padding: 0.6vw 1.2vw;
  background-color: #98bf49;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.try__button:hover {
  background-color: #79983a;
}

@media only screen and (max-width: 768px) {
  /* ------------------- */
  /* Header */
  /* ------------------- */
  .header__line {
    height: 0.5rem;
  }

  .header__logo {
    width: 20vw;
  }

  .header__title,
  .header__frontend {
    font-size: 8.25vw;
  }

  /* ------------------- */
  /* Section: Product */
  /* ------------------- */
  .try__label,
  .product__label {
    font-size: 1.8vw;
    text-align: center;
    margin-bottom: 2rem;
  }

  .try__label:after,
  .product__label:after {
    left: 50%;
    height: 3px;
    width: 2.5rem;
    bottom: -0.8rem;
    transform: translateX(-50%);
  }

  .product__title,
  .product__description {
    width: 100%;
    text-align: center;
  }

  .product__description {
    font-size: 3vw;
    margin: 4vw 0;
  }

  .product__ilustra {
    display: none;
  }

  .icons {
    justify-content: center;
  }

  .icon {
    width: 7vw;
  }

  /* ------------------- */
  /* Section: Testimonial */
  /* ------------------- */
  .testimonial {
    padding: 15vw 0;
  }

  .testimonial__screenshot {
    width: 70vw;
    margin-top: 5rem;
  }

  .testimonial__label {
    font-size: 1.8vw;
    margin-bottom: 2rem;
  }

  .testimonial__label:after {
    height: 3px;
    width: 2.5rem;
    bottom: -0.8rem;
  }

  .testimonial__quote {
    width: 80%;
    font-size: 3.2vw;
  }

  .testimonial__author {
    font-size: 2.5vw;
  }

  /* ------------------- */
  /* Section: Try */
  /* ------------------- */
  .try {
    width: 100%;
  }

  .try__paragraph {
    font-size: 3vw;
    margin: 1rem 2rem;
  }

  .try__title,
  .try__paragraph,
  .try__label {
    text-align: center;
  }

  .try__left {
    padding: 2rem 0 0 0;
  }

  .try__right {
    left: 0;
    right: 0;
    width: 70vw;
    min-height: 25rem;
    margin: 4rem auto;
    transform: translate(0, 0);
  }

  .try__input-label {
    font-size: 1.25rem;
  }

  .try__input {
    font-size: 1.6rem;
  }

  .try__button {
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 375px) {
  .try__left {
    height: 150%;
  }

  .try__right {
    min-height: 18rem;
  }

  .try__input {
    font-size: 1.4rem;
  }
}
